[submodule "public"]
	path = public
	url = git@github.com:luandy64/luandy64.github.io.git
	branch = master
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
