{:deps {}
 :tasks
 {get-file (let [file-stub (->>
                            (-> (shell {:out :string}
                                       "gum input --placeholder='Title...'")
                                :out
                                clojure.string/lower-case
                                clojure.string/trim
                                (clojure.string/split (re-pattern " ")))
                            (clojure.string/join "-"))
                 file-name (str file-stub ".md")]
             file-name)
  blog
  (let [file-name (run 'get-file)]
    (shell ["hugo"
            "new"
            (str "blog/" file-name)]))
  hand
  (let [file-name (run 'get-file)]
    (shell ["hugo"
            "new"
            (str "handwritten/" file-name)]))

  publish
  (do (println "Creating files in `public`")
      (shell "hugo")
      (println "Commiting main")
      (shell {:dir "./public"} "git add '.'")
      (shell {:dir "./public"} "git commit -m 'New content'")
      (println "Pushing dev")
      (shell "git push")
      (println "Pushing main")
      (shell {:dir "./public"} "git push"))

  serve   (println "Running serve command")}}
