{{ define "main" }}
<content>
    {{ if .Data.Singular }}
    <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
    <small>
        <a href="{{ "blog" | relURL }}">Remove filter</a>
    </small>

    <ul class="blog-posts">
        {{ range .Site.Taxonomies.tags.Get .Title }}
        <li>
            <span>
                <i>
                    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                        {{ .Date.Format "2006-01-02" }}
                    </time>
                </i>
            </span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ else }}
        <li>
            No posts yet
        </li>
        {{ end }}
    </ul>
    {{ else }}
    <ul class="blog-posts">
        {{ $kinds := slice "blog" "handwritten" "indieweb"}}
        {{ range where .Site.RegularPages.ByTitle.ByDate.Reverse "Type" "in" $kinds }}
        <li>
            <span>
                <i>
                    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                        {{ .Date.Format "2006-01-02" }}
                    </time>
                </i>
            </span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ else }}
        <li>
            No posts yet
        </li>
        {{ end }}
    </ul>
    <small>
        <div>
            {{ range .Site.Taxonomies.tags }}
            <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
            {{ end }}
        </div>
    </small>
    {{ end }}
</content>
{{ end }}
