<style>
 /* html, body {
    margin: 0; padding: 0;
    }
    body {
    text-align: center
    }
  */
 body {
     font-family: Verdana, sans-serif;
     margin: auto;
     padding: 20px;
     max-width: 720px;
     text-align: left;
     background-color: #fff;
     word-wrap: break-word;
     overflow-wrap: break-word;
     line-height: 1.5;
     color: #444;
 }

 .post {
     position: relative;
     display: block;
     max-width: 80vw;
     margin: 0 auto;
 }

 @media only screen and (max-width: 960px) {
     .post {max-width: 95vw;}
 }

 .post img {
     display: block;
     width: 100%;
 }
 .title {
     margin-bottom: 50px;
     max-width: 100vw;
 }
 a:hover {
     filter: opacity(0.5) !important;
 }

 .title img {
     display: block;
     margin: 0 auto;
     max-width: 100vw;
 }
 .post a {
     background-color: #35c;
     mix-blend-mode: screen;
     position: absolute;
     display: block;
 }
 .ctas a {
     display: block;
 }
 .ctas img, .comments img {
     max-width: 80vw;
 }

 @media (prefers-color-scheme: dark) {
     body {
         background-color: #333;
         color: #ddd;
     }

     h1,
     h2,
     h3,
     h4,
     h5,
     h6,
     strong,
     b {
         color: #eee;
     }

     a {
         color: #8cc2dd;
     }

     code {
         background-color: #777;
     }

     pre code {
         color: #ddd;
     }

     blockquote {
         color: #ccc;
     }

     textarea,
     input {
         background-color: #252525;
         color: #ddd;
     }

     .helptext {
         color: #aaa;
     }
 }
</style>
